@import 'variaveis';

.alert-danger {
    background-color: rgb(37, 0, 0);
    color: rgb(255, 169, 169);
}

.alert-success {
    background-color: rgb(1, 37, 0);
    color: rgb(172, 255, 169);
}

.alert-info {
    background-color: rgb(0, 26, 37);
    color: rgb(169, 249, 255);
}

.card {
    background-color: $black;
    padding: 4em;
    border-radius: 20px;
    border: 1px solid $white;

    h3 {
        color: $green;
        font-weight: $bold;
    }

    label, small {
        color: $white;
    }

    .text-success {
        text-decoration: $none;
        font-weight: $bold;

        &:hover {
            text-decoration: underline; /* Adicione sublinhado no hover */
        }
    }

    .form-control {
        background-color: $black;
    }

    ::placeholder {
        color: $white;
    }

    .white-text {
        color: $white;
    }
}