.navbar-index {
    background-color: black;
    padding: 40px;

    img {
        height: 50px;
        margin-bottom: 16px;
        margin-right: 10px;
    }

    span {
        color: #1ED760;
        font-weight: bold;
        font-size: 40px;
    }

    .nav-link {
        color: #FFF;
        font-weight: bold;
        position: relative;
    }

    .nav-link:after {
        display: block;
        content: '';
        border-bottom: solid 3px #1ED760;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
    }

    .nav-link:hover:after {
        transform: scaleX(1);
    }

    .nav-link.fromRight:after {
        transform-origin: 100% 50%;
    }

    .nav-link.fromLeft:after {
        transform-origin: 0% 50%;
    }

    .navbar-nav {
        .nav-item {
            padding: 20px;
            .nav-link {
                &.active {
                    color: #000;
                    position: relative;
                    cursor: default;
                    background-color: #1ED760;
                    border-radius: 10px;
                    border-bottom: none;
                }

                &.active:after {
                    content: '';
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                    width: 100%;
                    border-bottom: none;
                }
            }
        }
    }
}