@import 'variaveis';

//PesquisarMusicas.vue
.pesquisar_musicas {
    padding: 40px;
    background-color: $black;
    border-radius: 20px;
    border: 1px solid $white;

    h2,
    h6 {
        color: $white;
    }

    h2 {
        text-transform: $uppercase;
        font-weight: $bold;
    }

    .form-control {
        background-color: $black;
    }

    ::placeholder {
        color: $white;
    }

    .white-text {
        color: $white;
    }
}

//Playlist.vue
.musicas {
    margin-top: 20px;
    text-align: $center;

    h2 {
        color: $white;
        text-transform: $uppercase;
        font-weight: $bold;
    }

    .table.custom-table {
        background-color: rgb(22, 22, 22);
    }

    .table.custom-table th {
        background-color: rgb(22, 22, 22);
        color: $white;
    }

    .table.custom-table tbody tr {
        background-color: rgb(22, 22, 22);
    }

    .table.custom-table tbody td {
        background-color: rgb(22, 22, 22);
        color: $white;
    }

    .img_musica {
        height: 50px;
        border-radius: 60px;
        margin-bottom: 10px;
    }

}

//Player.vue
.player {

    .card-img-top {
        border-radius: 20px;
    }

    text-align: $center;

    h2 {
        color: $white;
    }

    .card-title,
    .card-text {
        color: $white
    }

    .progress {
        border: 1px solid $white;
        background-color: $black;
    }

    .progress-bar {
        background-color: $green;
    }

    .btn-play {
        background-color: $green;
        border-radius: 20px;
        color: $black;

        &:hover {
            background-color: $black;
            border: 1px solid $green;
            color: $green;
        }
    }

    .btn-back-next {
        border-radius: 20px;
        color: $white;
        border: none;

        &:hover {
            color: $green;
        }
    }

}