//Colors

$black: black;
$white: white;
$green: #1ED760;


//Text

$bold: bold;
$uppercase: uppercase;


//Positions

$relative: relative;
$absolute: absolute;
$none: none;
$center: center;
$column: column;


//Display

$flex: flex;
$block: block;